<%- include('partials/postheader') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
      <div class="col-6">

        <div class="text-bg-light border border-bottom-0 rounded-top">
          <p>Question made by <strong><%= post.userName%></strong> </p>
          <div class="col-2">
            tags: <span class="badge rounded-pill text-bg-info"><%= post.tag %></span>
          </div>
          <img class="img-fluid" src="<%=post.image%>" />
        </div>

        <div class="row justify-content-between border-bottom text-bg-light">
            
            <h2><%= post.question %></h2>
            <p><%= post.description %></p>
            <span class="text-muted">asked on <%= post.createdAt.toDateString() %></span>
            
          <form
            class="col-1"
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-danger fa fa-heart" type="submit"></button><h3><%=post.likes%></h3>
          </form>
            <%if(post.user == user.id){ %>
          
          
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class="col-1"
          >
            <button class="btn btn-danger fa fa-trash" type="submit"></button>
          </form>
         
          <%}%>
        </div>
        
          <div class="mt-5">
            <h4>Add an Answer</h4>
            <form action="/answer/createAnswer/<%=post.id %>" method="POST"> 
              <div class="mb-3">
                 
                  <input type="text" class="form-control" id="answer" name="answer" height="30px">
              </div>
              <button type="submit" class="btn btn-danger" >Submit</button> 
              
            </form>
          </div>
        
        <ul class="list-unstyled">
          <% for(var i=0; i<answers.length; i++) {%>
  
            <div class="card ">
              <div class="row g-0 text-bg-light">
                <li>
                  <div class="">
                    <div class="card-body ">
                  
                      <p class="card-text"><%= answers[i].answer%></p>
                      <p class="card-text"><small class="text-muted">Answered by <strong><%=answers[i].userName%></strong> <span class="text-info">on</span> <%=answers[i].createdAt.toDateString()%></small></p>
                
                    </div>
                  </div>
              
              </div>
            </div>
          </li>
          <% } %>
      </ul>
      </div>
  </div>
</div>


      <!-- answer loop start --> 

<%- include('partials/footer') -%>
